<app-header></app-header>

<div class="banner">
  <img src="../../../assets/user.png">
  <h2>Meu Perfil</h2>
</div>

<div class="container">
  <form *ngIf="perfilForm" [formGroup]="perfilForm">
    <h1>Olá, {{ usuarioLogado.name.split(' ')[0] }}!</h1>

    <h2>Dados Pessoais</h2>

    <label for="nome">Nome:</label>
    <input class="inputs" id="nome" type="text" formControlName="name" placeholder="Seu nome completo" />
    <div class="mensagem_erro" *ngIf="(perfilForm.get('name')?.invalid && perfilForm.get('name')?.touched) || perfilForm.get('name')?.dirty">
      <app-mensagem *ngIf="perfilForm.get('name')?.errors?.['required']" mensagem="Nome deve ser preenchido."></app-mensagem>
    </div>

    <label for="nascimento">Data de Nascimento:</label>
    <input class="inputs input-disabled" type="date" formControlName="birthDate" readonly>

    <label for="genero">Gênero:</label>
    <select class="inputs" id="genero" formControlName="gender">
      <option selected disabled value="">Selecione uma opção</option>
      <option value="Masculino">Masculino</option>
      <option value="Feminino">Feminino</option>
      <option value="Outro">Outro</option>
    </select>
    <div class="mensagem_erro" *ngIf="(perfilForm.get('gender')?.invalid && perfilForm.get('gender')?.touched) || perfilForm.get('gender')?.dirty">
      <app-mensagem *ngIf="perfilForm.get('gender')?.errors?.['required']" mensagem="Gênero deve ser preenchido."></app-mensagem>
    </div>

    <h2>Dados de Acesso</h2>

    <label for="email">E-mail:</label>
    <input class="inputs" id="email" type="email" formControlName="email" placeholder="seu@email.com" />
    <div class="mensagem_erro" *ngIf="(perfilForm.get('email')?.invalid && perfilForm.get('email')?.touched) || perfilForm.get('email')?.dirty">
      <app-mensagem *ngIf="perfilForm.get('email')?.errors?.['required']" mensagem="E-mail deve ser preenchido."></app-mensagem>
    </div>

    <label for="confirmarEmail">Confirmar E-mail:</label>
    <input class="inputs" id="confirmarEmail" type="email" formControlName="reEmail" />
    <div class="mensagem_erro" *ngIf="(perfilForm.get('email')?.invalid && perfilForm.get('email')?.touched) || perfilForm.get('email')?.dirty">
      <app-mensagem *ngIf="perfilForm.get('email')?.errors?.['required']" mensagem="Confirmação de e-mail deve ser preenchida."></app-mensagem>
    </div>

    <label for="senhaAtual">Senha atual:</label>
    <input class="inputs" id="senhaAtual" [type]="showPasswordNow ? 'text' : 'password'" formControlName="passNow"/>
    <button [style.background-image]="'url(' + (showPasswordNow ? '../../../../assets/esconderSenha.png' : '../../../../assets/mostrarSenha.png') + ')'"
                type="button"
                class="toggle-password"
                (click)="togglePassword('passNow')"></button>

    <span class="swtich_text">Deseja alterar sua senha ?</span>
    <label class="switch">
      <input type="checkbox" formControlName="changePassword">
      <span class="slider round"></span>
    </label>

    <div class="mensagem_erro" *ngIf="perfilForm.get('passNow')?.invalid && (perfilForm.get('passNow')?.touched || perfilForm.get('passNow')?.dirty)">
      <app-mensagem *ngIf="perfilForm.get('passNow')?.errors?.['required']" mensagem="Insira a senha para salvar as alterações."></app-mensagem>
      <app-mensagem *ngIf="perfilForm.get('passNow')?.errors?.['senhaIncorreta']" mensagem="Senha atual inválida!"></app-mensagem>
    </div>

    <label for="senha">Nova Senha:</label>
    <input class="inputs" [class.input-disabled]="!perfilForm.get('changePassword')?.value" id="senha" [type]="showPassword ? 'text' : 'password'" formControlName="password"/>
    <button [style.background-image]="'url(' + (showPassword ? '../../../../assets/esconderSenha.png' : '../../../../assets/mostrarSenha.png') + ')'"
                type="button"
                class="toggle-password"
                [class.invalid]="perfilForm.invalid"
                *ngIf="perfilForm.get('changePassword')?.value"
                (click)="togglePassword('password')"></button>

    <div class="mensagem_erro" *ngIf="perfilForm.get('password')?.invalid && (perfilForm.get('password')?.touched || perfilForm.get('password')?.dirty)">
      <app-mensagem *ngIf="perfilForm.get('password')?.errors?.['required']" mensagem="Insira a senha para salvar as alterações."></app-mensagem>
    </div>

    <label for="confirmarSenha">Confirmar Senha:</label>
    <input class="inputs" [class.input-disabled]="!perfilForm.get('changePassword')?.value" id="confirmarSenha" [type]="showPasswordConfirmation ? 'text' : 'password'" formControlName="rePassword" />
    <button [style.background-image]="'url(' + (showPasswordConfirmation ? '../../../../assets/esconderSenha.png' : '../../../../assets/mostrarSenha.png') + ')'"
                type="button"
                class="toggle-password"
                [class.invalid]="perfilForm.invalid"
                *ngIf="perfilForm.get('changePassword')?.value"
                (click)="togglePassword('repassword')"></button>

    <div class="mensagem_erro" *ngIf="perfilForm.get('rePassword')?.invalid && (perfilForm.get('rePassword')?.touched || perfilForm.get('rePassword')?.dirty)">
      <app-mensagem *ngIf="perfilForm.get('rePassword')?.errors?.['required']" mensagem="Confirme a senha para salvar as alterações."></app-mensagem>
    </div>
    <div class="form-actions">
      <button class="btn" [class.invalid]="perfilForm.invalid" type="button" (click)="atualizar(perfilForm)" [disabled]="perfilForm.invalid">Atualizar Perfil</button>
    </div>
  </form>
</div>

<app-modal [isOpen]="isModalOpen" (close)="closeModal()" [titulo]="tituloModal" [conteudo]="conteudoModal"></app-modal>

<app-footer></app-footer>
