<body class="container">
  <app-header></app-header>
  <form id="formulario" [formGroup]="formularioSelecionado === 'login' ? formularioLogin : formularioCadastro" (ngSubmit)="enviarFormulario()">
    <div class="change-layout">
      <a class="btn-layout" [class.selected]="formularioSelecionado === 'login'" (click)="mostraFormulario('login')">ENTRE</a>
      <a class="btn-layout" [class.selected]="formularioSelecionado === 'cadastro'" (click)="mostraFormulario('cadastro')">CADASTRE-SE</a>
    </div>

    <div class="form-login" *ngIf="formularioSelecionado === 'login'; else cadastro">
      <img class="logo" src="../../../../assets/logo_roxa_navbar.png" alt="Logo Roxa">
      <input formControlName="email" autocomplete="off" id="email" name="email" class="campos" type="email" placeholder="E-mail">

      <div class="mensagem_erro_login" *ngIf="(formularioLogin.get('email')?.invalid && formularioLogin.get('email')?.touched) || formularioLogin.get('email')?.dirty">
        <app-mensagem *ngIf="formularioLogin.get('email')?.errors?.['required']" mensagem="E-mail deve ser preenchido."></app-mensagem>
        <app-mensagem *ngIf="formularioLogin.get('email')?.errors?.['email']" mensagem="E-mail inválido."></app-mensagem>
      </div>

      <div class="password-container">
        <input formControlName="password" id="senhaLogin" name="senha" class="campos inputSenha"
               [type]="showPasswordLogin ? 'text' : 'password'"
               placeholder="Senha">
        <button [style.background-image]="'url(' + (showPasswordLogin ? '../../../../assets/esconderSenha.png' : '../../../../assets/mostrarSenha.png') + ')'"
                type="button"
                class="toggle-password"
                (click)="togglePassword('login')"></button>
      </div>

      <div class="mensagem_erro_login" *ngIf="(formularioLogin.get('password')?.invalid && formularioLogin.get('password')?.touched) || formularioLogin.get('password')?.dirty">
        <app-mensagem *ngIf="formularioLogin.get('password')?.errors?.['required']" mensagem="Senha deve ser preenchida."></app-mensagem>
      </div>

      <div class="mensagem_erro_login">
        <app-mensagem *ngIf="mensagemErroLogin" [mensagem]="mensagemErroLogin"></app-mensagem>
      </div>
      <button [disabled]="formularioLogin.invalid" [class.invalid]="formularioLogin.invalid" class="btn">Login</button>
    </div>

    <ng-template #cadastro>
      <img class="logo" src="../../../../assets/logo_roxa_navbar.png">
      <input formControlName="name"
      id="nome"
      name="nome"
      class="campos"
      type="text"
      placeholder="Nome"
      autocomplete="off"
      >

      <div class="mensagem_erro" *ngIf="formularioCadastro.get('name')?.invalid && (formularioCadastro.get('name')?.touched || formularioCadastro.get('name')?.dirty)">
        <app-mensagem *ngIf="formularioCadastro.get('name')?.errors?.['required']" mensagem="O campo nome deve ser preenchido."></app-mensagem>
        <app-mensagem *ngIf="formularioCadastro.get('name')?.errors?.['minlength']" mensagem="O campo de nome deve possuir no mínimo 2 caractéres."></app-mensagem>
      </div>

      <input
      formControlName="birthDate"
      id="dataNascimento"
      name="dataNascimento"
      class="campos"
      type="date"
      placeholder="Data de nascimento"
      autocomplete="off">

      <div class="mensagem_erro" *ngIf="formularioCadastro.get('birthDate')?.invalid && (formularioCadastro.get('birthDate')?.touched || formularioCadastro.get('birthDate')?.dirty)">
        <app-mensagem *ngIf="formularioCadastro.get('birthDate')?.errors?.['required']" mensagem="O campo data de nascimento deve ser preenchido."></app-mensagem>
      </div>

      <select class="campos inputGenero" formControlName="gender">
        <option value="" disabled selected>Gênero</option>
        <option value="Masculino">Masculino</option>
        <option value="Feminino">Feminino</option>
        <option value="Outros">Outros</option>
      </select>

      <div class="mensagem_erro" *ngIf="formularioCadastro.get('gender')?.invalid && (formularioCadastro.get('gender')?.touched || formularioCadastro.get('gender')?.dirty)">
        <app-mensagem *ngIf="formularioCadastro.get('gender')?.errors?.['required']" mensagem="O campo gênero deve ser preenchido."></app-mensagem>
      </div>

      <input formControlName="email"
      id="email"
      name="email"
      class="campos"
      type="email"
      placeholder="E-mail"
      autocomplete="off">

      <div class="mensagem_erro" *ngIf="(formularioCadastro.get('email')?.invalid && formularioCadastro.get('email')?.touched) || formularioCadastro.get('email')?.dirty">
        <app-mensagem *ngIf="formularioCadastro.get('email')?.errors?.['required']" mensagem="O campo e-mail deve ser preenchido."></app-mensagem>
        <app-mensagem *ngIf="formularioCadastro.get('email')?.errors?.['email']" mensagem="O campo e-mail está inválido."></app-mensagem>
      </div>

      <div class="password-container">
        <input
        id="senhaCadastro"
        name="senha"
        class="campos inputSenha"
        [type]="showPasswordCadastro ? 'text' : 'password'"
        placeholder="Senha"
        formControlName="password"
        >

        <button [style.background-image]="'url(' + (showPasswordCadastro ? '../../../../assets/esconderSenha.png' : '../../../../assets/mostrarSenha.png') + ')'"
                type="button"
                class="toggle-password"
                (click)="togglePassword('password')"></button>
      </div>

      <div class="mensagem_erro" *ngIf="formularioCadastro.get('password')?.invalid && (formularioCadastro.get('password')?.touched || formularioCadastro.get('password')?.dirty)">
        <app-mensagem *ngIf="formularioCadastro.get('password')?.errors?.['required']" mensagem="A senha é obrigatória."></app-mensagem>
        <app-mensagem *ngIf="formularioCadastro.get('password')?.errors?.['pattern']" mensagem="A senha deve ter pelo menos 8 caracteres, incluindo uma letra maiúscula, uma letra minúscula e um número."></app-mensagem>
      </div>

      <div class="password-container">
        <input
        id="confirmaSenhaCadastro"
        name="confirmaSenhaCadastro"
        class="campos inputSenha"
        [type]="showPasswordConfirmacao ? 'text' : 'password'"
        placeholder="Confirmar senha"
        formControlName="repassword"
        >

        <button [style.background-image]="'url(' + (showPasswordConfirmacao ? '../../../../assets/esconderSenha.png' : '../../../../assets/mostrarSenha.png') + ')'"
                type="button"
                class="toggle-password"
                (click)="togglePassword('repassword')"></button>
      </div>

      <div class="mensagem_erro" *ngIf="formularioCadastro.get('repassword')?.invalid && (formularioCadastro.get('repassword')?.touched || formularioCadastro.get('repassword')?.dirty)">
        <app-mensagem *ngIf="formularioCadastro.get('repassword')?.errors?.['required']" mensagem="A senha é obrigatória."></app-mensagem>
      </div>
      <app-mensagem *ngIf="mensagemErroCadastro" [mensagem]="mensagemErroCadastro"></app-mensagem>
      <app-mensagem class="mensagem_erro" *ngIf="formularioCadastro.hasError('senhaDiferente') && !formularioCadastro.get('repassword')?.errors?.['required']" mensagem="As senhas devem coincidir."></app-mensagem>

      <button [disabled]="formularioCadastro.invalid" [class.invalid]="formularioCadastro.invalid" class="btn" type="submit">Cadastre-se</button>

    </ng-template>
  </form>

  <app-modal [isOpen]="isModalOpen" (close)="closeModal()" [titulo]="tituloModal" [conteudo]="conteudoModal"></app-modal>
  <app-footer></app-footer>
</body>
