<body class="container">
  <app-header></app-header>
  <nav class="nav">
    <ul class="nav-itens">
      <li *ngFor="let item of menuCategoria"
          (click)="selecionarCategoria(item)"
          [class.selected]="item === categoriaSelecionada">
        <a>{{ item }}</a>
      </li>
    </ul>
  </nav>
  <section class="area-filtro">
    <h2>Catálogo</h2>
    <form class="form-filtro">
      <input type="text" class="filtro"><br>
      <label>Ordenar por:</label>
      <select [(ngModel)]="ordemSelecionada" name="ordenar">
        <option value="" selected>Escolha uma opção</option>
        <option value="menor-preco">Menor Preço</option>
        <option value="maior-preco">Maior Preço</option>
      </select>
    </form>
  </section>

  <section class="catalogo">
    <app-listar-acessorios [ordemSelecionada]="ordemSelecionada" [categoriaSelecionada]="categoriaSelecionada"></app-listar-acessorios>
  </section>

  <app-footer></app-footer>

</body>
