<app-header></app-header>
<section class="area-filtro">
  <h2>Catálogo</h2>
  <form class="form-filtro">
    <input type="text" class="filtro"><br>
    <label>Ordenar por:</label>
    <select>
      <option value="" disabled selected>Escolha uma opção</option>
      <option value="menor-preco">Menor Preço</option>
      <option value="maior-preco">Maior Preço</option>
    </select>
  </form>
</section>

<section>
  <app-listar-acessorios></app-listar-acessorios>
</section>

<app-footer></app-footer>
