#login-cadastro {
  color: #9B70E8;
  align-self: flex-end; 
  text-decoration: none;
}

#catalogo {
  width: 2rem;
  margin-right: 0.2rem;
}

.botoes-logo-area {
  list-style: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-top: 2rem;
}

.botao-logo-area {
  cursor: pointer;
  margin-right: 2rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #9B70E8;
}

.logo-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-roxa {
  width: 3rem;
  margin-left: 3rem;
}

.botao-avatar {
  margin-top: -1rem;
  color: #9B70E8;
}

