#login-cadastro {
  color: #9B70E8;
  align-self: flex-end;
  text-decoration: none;
}

#catalogo {
  width: 2rem;
  margin-right: 0.2rem;
}

.nav-area {
  margin-top: .5rem;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-roxa {
  width: 3rem;
  margin-left: 1rem;
}

.botoes-nav-area {
  list-style: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.botao-nav-area {
  margin-right: 2rem;
  display: flex;
  align-items: center;
  color: #9B70E8;
}

.botao-nav-area a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #9B70E8;
  cursor: pointer;
}

.botao-nav-area img {
  cursor: pointer;
  margin-right: .2rem;
}

.botao-nav-area span {
  cursor: pointer;
}

.logout {
  background: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.6rem;
  background-image: url("../../../assets/logout.png");
  border: none;
  width: 2rem;
  height: 3.5rem;
  cursor: pointer;
  z-index: 1;
  padding: 0;
}
