.catalogo {
  margin: 4rem auto;
  display: flex;
  width: 95%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.sem-resultados {
  color: #9B70E8;
  font-weight: bold;
  text-align: center;
}
