.card {
  border: 2px solid black;
  border-radius: 1rem;
}

.secao-imagem {
  width: 100%;

}

.img-acessorio {
  width: 5rem;
}

.secao-texto {
  padding: 0.3rem;
  border-top: 2px solid black;
  text-align: center;
}

.preco {
  color: #9B70E8;
}

.btn-detalhes {
  color: white;
  font-size: 16px;
  font-weight: bold;
  background-color: #9B70E8;
  border: none;
  border-radius: 2rem;
  padding: 0.3rem 1rem;
  cursor: pointer;
}
