.card {
  border: 2px solid black;
  margin-right: 2rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  overflow: hidden;
  width: 15rem;
}

.secao-imagem {
  width: 100%;

  overflow: hidden;
  margin: 0;
  padding: 0;
}

.img-acessorio {
  width: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;
  border-bottom: 3px solid black;
}

.secao-texto {
  padding: 1rem;
  text-align: center;
}

.preco {
  margin-top: -0.01rem;
  margin-bottom: -0.01rem;
  color: #9B70E8;
}

.btn-detalhes {
  color: white;
  font-size: 16px;
  font-weight: bold;
  background-color: #9B70E8;
  border: none;
  border-radius: 2rem;
  padding: 0.3rem 1rem;
  cursor: pointer;
}
