nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem;
}

a {
  text-decoration: none;
}

#profile {
  padding: 1rem;
  text-decoration: none;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#profile:hover .sub-menu {
  display: block;
}

ul {
  list-style: none;
  cursor: pointer;
}

ul li {
  text-decoration: none;
  margin: .5rem 0;
}



.logo-pequena {
  width: 3rem;
  margin-left: -1rem;
}

.btn {
  padding: 0.5rem 2rem;
  text-align: center;
  background-color: white;
  border-radius: 2rem;
  font-weight: 600;
  color: #9B70E8;
  cursor: pointer;
}

.caixa1, .caixa2 {
  height: 100vh;
  display: flex;
}

.caixa1 {
  background: linear-gradient(to bottom right, #9B70E8, #7253A9);
  color: white;
  flex-direction: column;
}

.conteudo-caixa-1 {
  display: flex;
  height: 70%;
  align-items: center;
  justify-content: space-around;
}

.fotos-home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 30%;
  flex-wrap: wrap;
}

.foto-home {
  width: 10rem;
  border: 2px solid black;
  margin: 0.2rem;
  border-radius: 2rem;
}

.caixa2 {
  background-color: #F1F1F1;
  justify-content: center;
  align-items: center;
}

.foto {
  width: 15rem;
  border: 2px solid #9B70E8;
  border-radius: 2rem;
  margin-right: 3rem;
}

.texto-caixa2 {
  width: 50%;
  text-align: justify;
}

.quem-sou {
  text-align: center;
}

#profile img {
  cursor: pointer;
  margin-right: .2rem;
}

.botao-nav-area span {
  cursor: pointer;
}

.sub-menu {
  display: none;
  position: absolute;
  padding: .5rem;
  background-color: #FFF;
  color: #9B70E8;
  cursor: pointer;
  z-index: 1;
  padding: .6rem;
  border-radius: 1rem;
  top: 11%;
  right: 16%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

a[routerLink] {
  text-decoration: none;
  color: #9B70E8;
}

.sub-menu:hover {
  display: block;
}

.logout {
  border: none;
  width: 2rem;
  height: 3.5rem;
  cursor: pointer;
  z-index: 1;
  padding: 0;
}
